body /* element aka tag selector */ {
	background-color: white;	
}
a {
	color: black;
	text-decoration: none;
	border: 1px solid black;
	padding: 5px 10px;
	margin-right: 10px;
	border-radius: 10px;
}
/* PSEUDO ELEMENT SELECTOR */
a:hover {
	background-color: black;
	color: white;
}
.gantig {
	margin-left: 100px;
}
.gantig:first-line {
	float: left;
	background-color: black;
	color: white;
	padding: 10px;
	margin-right: 10px;
	font-size: 50px;
}
/* absolute position */
.duriin {
	width: 100px;
	height: 100px;
	background-color: green;
	position: absolute;
	top: auto;
	bottom: 50%;
	left: auto;
	right: 10px;
}
/* fixed position */
.duriin2 {
	width: 100px;
	height: 100vh;
	background-color: green;
	position: fixed;
	top: 0;
	left: 0;
}
/* descendant selector */
.duriin2 a {
	display: block;
	margin-bottom: 20px;
}
.duriin2 img {
	width: 100%;
	height: auto;
	margin-bottom: 50px;
}

.container {
	width: 960px;
	height: 2000px;
	
}
.logo {
	float: left;
	width: 30%;
	height: 100px;
	background-color: purple;
}
.logo img {
	width: 100px;
	height: auto;
}
.menu {
	float: left;
	width: 70%;
	height: 100px;
	background-color: blue;
}
.menu a {
    margin-top: 55px;
    margin-left: 20px;
    width: 80px;
    float: left;
    display: block;
}
.content {
	clear: left;
	float: left;
	width: 80%;
	height: 600px;
	background-color: brown;
}
.sidebar {
	float: left;
	width: 20%;
	height: 600px;
	background-color: black;
}
.footer {
	clear: left;
	float: left;
	width: 100%;
	height: 150px;
	background-color: purple;
}